{% extends "base.html" %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
  <div class="container-fluid my-4 bg-tertiary p-5">
    <div class="row offset-1 ">
      <div class="col-10"><h1> About Us Page</h1>
<p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos, architecto accusamus! Perspiciatis quae dicta nam, beatae maxime ducimus dolor? Deleniti incidunt id at modi nihil libero eveniet repellat? Dolorum, minus!
Tenetur molestiae facere commodi nobis ullam dignissimos neque eos esse, expedita totam odio enim aliquid rerum iusto laborum voluptatibus. Aperiam ea temporibus pariatur atque fugit quos autem porro inventore rem.
</p>
</div>

</div>
</div>
{% endblock content %}




