{% extends "base.html" %}

{% block title %}
Blog
{% endblock title %}

{% block content %}
<div class="container py-5">
    <h1 class="text-center mb-4">Latest Blogs</h1>

    <div class="row">
        <!-- Blog Card -->
        <div class="col-md-8 mx-auto mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary">Social Issues</h5>
                    <p class="card-text text-muted mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis molestiae perspiciatis recusandae! Quae laborum quod voluptas accusantium amet veritatis aliquid eum. Recusandae provident deleniti eveniet aut suscipit aliquid esse reprehenderit. Quam, assumenda asperiores corporis neque corrupti temporibus minima explicabo ab voluptates cupiditate impedit? Maxime, ut. Numquam officia voluptatibus placeat veritatis eveniet ab, iusto, quisquam non blanditiis sunt officiis nostrum ut?</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-secondary">Published: January 15, 2024</span>
                        <a href="#" class="btn btn-info w-25">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Blog Card -->

        <!-- More Blog Cards (You can repeat this block for more blogs) -->
        <div class="col-md-8 mx-auto mb-4">
            <div class="card shadow-sm border-light rounded">
                <div class="card-body p-4">
                    <h5 class="card-title text-primary">Technology & Innovation</h5>
                    <p class="card-text text-muted mb-3">Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis molestiae perspiciatis recusandae! Quae laborum quod voluptas accusantium amet veritatis aliquid eum. Recusandae provident deleniti eveniet aut suscipit aliquid esse reprehenderit. Quam, assumenda asperiores corporis neque corrupti temporibus minima explicabo ab voluptates cupiditate impedit? Maxime, ut. Numquam officia voluptatibus placeat veritatis eveniet ab, iusto, quisquam non blanditiis sunt officiis nostrum ut?</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <span class="text-secondary">Published: February 10, 2024</span>
                        <a href="#" class="btn btn-info w-25">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Blog Card -->
    </div>

</div>

{% endblock content %}
