#footer{
  min-height: 30vh;
  background-color: rgb(80, 73, 25);
}
#footer a {
  text-decoration: none;
  color: white;
}
#container{
  min-height: 50vh !important;
}

#nav{
  background-color: rgb(80, 73, 25);
}

